@font-face {
    font-family: Jost;
    src: url(Jost-VariableFont.ttf);
}
html{
    scroll-behavior: smooth;
    font-family: Jost;
}
body{
    margin: 0%;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    padding: 20px;
    height: 30px;
    font-weight: 600;
    text-decoration: none;
}
.container :hover{
color:rgb(167, 21, 21)
}
nav{
    align-items: center;
}
nav li{
    display: inline-block;
    padding: 0px  40px;
    cursor: pointer;

}
.red{
    color:rgb(255, 3, 58);
}
.number{
    margin-left: 100px;
    font-size: 25px;
    font-weight: 400;
}
@media (min-width: 769px){
    .burger {
        display: none;
    }

}

@media (max-width: 768px){

.burgerW {
    width: 50px;
    height: 50px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 20px;
}

.burger {
    position: relative;
    border: 0;
    outline: none;
    height: 3px;
    width: 30px;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    z-index: 100;
}

.burger::before{
    content: " ";
    height: 3px; 
    width: 30px;
    position: absolute;
    background-color: rgb(0, 0, 0);
    z-index: 100;
    left: 0;
    top: -10px;
    cursor: pointer;
    transition: 0.3s;
}
.burger::after {
    content: " ";
    height: 3px;
    width: 30px;
    position: absolute;
    background-color: rgb(0, 0, 0);
    z-index: 100;
    left: 0;
    top: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.burger.active{
    height: 0;
    background-color: white;
}
.burger.active::after {
    transform: rotate(45deg);
    top: 0;
}

.burger.active::before {
    transform: rotate(-45deg);
    top: 0;
}
}
.plate{
    margin-top: 120px;
    justify-content: center;
    align-items:center;
    height: 400px;
    font-size: 140px;
    font-weight: 800;
    display: flex;
    letter-spacing: 10px;
    line-height: 120px;
}
.my{
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 400;
    margin-top: 10px;
    padding: 10px;
}
.inf{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    height: 30px;
    align-items: center;
    margin-top: 125px;


}
.but{
    background-color:rgb(255, 3, 58);
    color: aliceblue;
    font-size: 30px;
    border-radius: 30px;
    padding: 5px 60px;
    border-color: rgb(167, 21, 21);
    font-weight: 500;
    cursor: pointer;
}
.but:hover{
    background-color:rgb(255, 136, 0);
    color: white;
    border-color: rgb(255, 136, 0);
    transition: 0.5s; 
    transform: scale(1.1);
}
.cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
}
.row:hover{
    transition: 0.5s; 
    transform: scale(1.1);
    border:1px solid rgb(174, 174, 174); 
    border-radius:20px;
}

.hits{
    font-size: 20px;
    margin-top: 120px;
    margin-left: 80px;
    padding: 20px;
    color: rgb(0, 0, 0);
}
.hit{
    font-size: 45px;
    font-weight: 700;
}
.ph{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
}
.des{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    padding: 20px;
    
}
.name{
    width: 350px;
}
.weight{
    font-size: 16px;
    color:lightslategrey;
}
.bt{
    background-color: rgb(255, 3, 58);
    color: aliceblue;
    font-size: 16px;
    border-radius: 30px;
    padding: 5px 30px;
    border-color: rgb(167, 21, 21);
    font-weight: 300;
    cursor: pointer;
}
.bt:hover{
    background-color:rgb(255, 136, 0);
    color: white;
    border-color: rgb(255, 136, 0); 
}
.delivery{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-top: 100px;

    font-size: 70px;
    font-weight: 700;
}
.q{
    margin-top: 30px;
    font-size: 30px;
    font-weight: 500;
}
.a{
    margin-top: 5px;
    font-size: 20px;
    font-weight: 400;
}
.table{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
table {
    width: 450px;
    font-size: 24px;
    text-align: left;
    border-collapse: collapse;
    border-radius: 20px;
    box-shadow: 0 0 0 10px #bbbbbb;
    color: #452F21;
    margin-left: 30px;
    }
    th {
    padding: 10px 8px;
    text-align: center;
    }
    table th:first-child {
    border-top-left-radius: 20px;
    }
    table th:last-child {
    border-top-right-radius: 20px;
    }
    td {
    border-top: 5px solid #bbbbbb;
    padding: 8px;
    }
    table td:first-child {
    border-bottom-left-radius: 20px;
    }
    table td:last-child {
    border-bottom-right-radius: 20px;
    text-align: center;
    }
    .form{
        text-align: center;
        margin-top: 100px;
        font-size: 20px;
        font-weight: 450;
        font-family: Jost;
    }
    .bt2{
        font-size: 18px;
        border-radius: 30px;
        background-color: grey;
        color: white;
        border-color: black;
    }
.footer{
    background-color: black;
    color: aliceblue;
    height: 100px;
    margin-top: 100px;
    font-size: 30px;
    text-align: center;
    justify-content: right;
    padding: 20px;
}
.info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    color: aliceblue;
}
@media(max-width: 768px){
    /* .container{
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 50;
    }
    .container::before{
        content: ' ';
        position: absolute;
        top: 0;
        width: 0;
        height: 100%;
        width: 100%;
        background-color: black;
    } */

 nav {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(92, 90, 90);
    width: 80%;
    height: 100vh;
    transform: translateX(100%);
    transition: all 0.5s;
 }
nav ul{
    display: flex;
    flex-direction: column;
}
nav ul li{
    width: 50%;
}
}